<div class="menuLeftDash">
    <div class="logo">
      <img src="assets/logo/logo.png" class="logoImg">
    </div>
  
    <div class="listbtn">
      <button class="btnItem" routerLink="/dashboardg/static" routerLinkActive="active">statistical</button>
      <button class="btnItem" routerLink="/dashboardg/car" routerLinkActive="active">Cars</button>
      <button class="btnItem" routerLink="/dashboardg/client" routerLinkActive="active">Client</button>
      <button class="btnItem" routerLink="/dashboardg/admin" routerLinkActive="active">Admin</button>
      <button class="btnItem" routerLink="/dashboardg/city" routerLinkActive="active">City</button>
      <button class="btnItem" routerLink="/dashboardg/reservation" routerLinkActive="active">Reservation</button>
      <button class="btnItem" routerLink="/dashboardg/claim" routerLinkActive="active">Claim</button>
    </div>
  </div>
  