.input-group {
    position: relative;
    width: 100%;
    border: 1PX solid #dee2e6;
    border-radius: 7PX;
} 
.input-group .btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    border: none;
}
.input-group .btn:hover{
    background-color: #eeeeee;
}
.custom-focus:focus{
    border-color: #dedede !important; 
    box-shadow: 0 0 0 0.15rem rgba(230, 230, 230, 0.614); 
}
input{
    border: none;
}
