<app-menutopdash [title]="'Cars'"></app-menutopdash>
<div class="container mt-4 allpage">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <canvas id="revenueVsUnits"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <canvas id="unitsByAge"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <canvas id="topProductCategories"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <canvas id="revenueByCategory"></canvas>
          </div>
        </div>
      </div>
    </div>
</div>
  