<div class="register w-100">
    <app-menunormal></app-menunormal>
    <div class="container containerstyle">
      <div class="titre">Create Account</div>
      <form class="formRegister" (ngSubmit)="register()">
        <div class="inpZone">
          <div class="inppart">
            <div class="titleInp">Full Name</div>
            <div class="inp">
              <input type="text" class="inpRegister" placeholder="Enter your Full Name" [(ngModel)]="formData.nomComplet" name="nomComplet" required>
            </div>
          </div>
          <div class="inppart">
            <div class="titleInp">Email</div>
            <div class="inp">
              <input type="email" class="inpRegister" placeholder="Enter your Email" [(ngModel)]="formData.email" name="email" required>
            </div>
          </div>
        </div>
        <div class="inpZone">
          <div class="inppart">
            <div class="titleInp">City</div>
            <div class="inp">
              <input type="text" class="inpRegister" placeholder="Enter your City" [(ngModel)]="formData.city" name="city" required>
            </div>
          </div>
          <div class="inppart">
            <div class="titleInp">CIN</div>
            <div class="inp">
              <input type="text" class="inpRegister" placeholder="Enter your CIN" [(ngModel)]="formData.cin" name="cin" required>
            </div>
          </div>
        </div>
        <div class="inpZone">
          <div class="inppart">
            <div class="titleInp">Password</div>
            <div class="inp">
              <input type="password" class="inpRegister" placeholder="Enter your Password" [(ngModel)]="formData.password" name="password" required>
            </div>
          </div>
          <div class="inppart">
            <div class="titleInp">Repeat Password</div>
            <div class="inp">
              <input type="password" class="inpRegister" placeholder="Repeat your Password" [(ngModel)]="formData.confirmPassword" name="confirmPassword" required>
            </div>
          </div>
        </div>
        <button type="submit" class="btnForm">Create</button>
      </form>
      <div class="PlaceLink">
        <div class="PlaceLinkText">Already have an account? <span class="linkclick" routerLink="/login">Login</span></div>
      </div>
    </div>
  </div>
  