<div class="MenuBottom">
    <div class="MenuBottomCenter">
        <div class="partDescrip">
            <div class="logo">
                <img src="assets/logo/logo.png" alt="logo" class="logoImg">
            </div>
            <div class="description">Cargo is a leading car rental company, offering a wide range of vehicles to suit your travel needs. With flexible options and competitive pricing, we ensure a smooth and reliable experience. Explore the freedom of the road with Cargo!</div>
            <div class="copyright">CARGO © 2024</div>
        </div>
        <div class="menuDisp">
            <div class="menuDispTitle">Our Agencies</div>
            <div class="menuDispTitleItem">Casablanaca</div>
            <div class="menuDispTitleItem">Rabat</div>
            <div class="menuDispTitleItem">Agadir</div>
            <div class="menuDispTitleItem">Marrakech</div>
        </div>
        <div class="menuDisp">
            <div class="menuDispTitle">Social Media</div>
            <div class="menuDispTitleItem">Facebook</div>
            <div class="menuDispTitleItem">Instagram</div>
            <div class="menuDispTitleItem">YouTube</div>
            <div class="menuDispTitleItem">Marrakech</div>
        </div>
        <div class="menuDisp">
            <div class="menuDispTitle">Sponsored by</div>
            <div class="menuDispTitleItem">Google</div>
            <div class="menuDispTitleItem">Amazon</div>
            <div class="menuDispTitleItem">BMCE</div>
            <div class="menuDispTitleItem">Hostinger</div>
        </div>
    </div>
</div>
