.MenuBottom{
    flex: 1;
    height: fit-content;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
}
.MenuBottomCenter{
    flex: 1;
    height: fit-content;
    margin-left: 20PX;
    margin-right: 20PX;
    display: flex;
    margin-top: 20PX;
    margin-bottom: 20PX;
    justify-content: space-around;
}
.partDescrip{
    width: 300PX;
    height: 200PX;
}
.logo{
    flex: 1;
    height: 50PX;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.logoImg{
    width: 160PX;
    height: 50PX;
    margin-left: -15PX;
}
.description{
    width: 100%;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14PX;
}
.copyright{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14PX;
    font-weight: bold;
    margin-top: 10PX;
}
.menuDisp{
    width: 250PX;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menuDispTitle{
    flex: 1;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5PX;
    font-weight: bold;
    font-size: 22PX;
}
.menuDispTitleItem{
    flex: 1;
    margin-top: 5PX;
    cursor: pointer;
}
.menuDispTitleItem:hover{
    color: #1090b7;
    text-decoration: underline;
}
.menuDispTitleItem:focus{
    color: #1090b7;
    text-decoration: underline;
}


@media (max-width: 1087px) {
    .MenuBottomCenter{
        flex: 1;
        height: fit-content;
        display: flex;
        margin-top: 20PX;
        margin-bottom: 20PX;
        flex-wrap: wrap;
    }
    .partDescrip{
        width: 100%;
        max-width: 300PX;
    }
    .menuDisp{
        max-width: 300PX;
        width: 100%;
    }
    .MenuBottomCenter{
        justify-content: start;
    }
}