.btn-submit{
    background-color: #0fa0cd;
    color: white;
    font-weight: bold;
}
.btn-submit:focus{
    background-color: #1195be;
    border: none;
    color: white;
}
.btn-submit:hover{
    background-color: #1195be;
    border: none;
    color: white;
}

